* {
    
    font-family: "Roboto"; 
    margin: 0;
    padding: 0;
}


.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

.logo ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
}

.call,
.hero {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    gap: 40px;
}

.hero-image {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    flex:1;
    max-width: 400px;
}


.container {
    text-align: center;
}

.call,
.content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info {
    max-width: 100px;
}

.info-img {
    height: 100px;
    border-radius: 10px;
}

.quotes-text {
    max-width: 530px;
    margin: 0 auto;
}

.quotes-author {
    max-width: 530px;
    margin: 0 auto;
    text-align: end;
}

.header,
footer {
    background-color: #1F2937;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}


.logo a,
.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}


.hero button,
.call {
    background-color: #3882f6;
}

.container .title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quotes {
    background-color: #e5e7eb;
}

.quotes-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f3927;
}

.info-img {
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.hero-text {
    max-width: 400px;
}
    
