* {
    border: 2px solid red;
}


.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-image {
    background-color: gray;
}

.title {
    text-align: center;
}

.content {
    display: flex;
}